
.notifi-wrap{
    display: flex;
    align-items: center;
    img{
        width: 45px;
        height: 45px;
        border-radius: 50%;
    }
    .info-user{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 10px;
        span{
            &:first-child{
                font-weight: 600;
            }
            &:last-child{
                font-size: 13px;
            }
        }
    }
}
.new{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
}

.new.checked{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(38, 190, 38);
}

input[type='checkbox'] {
    accent-color: green;
}

.notifi-input{
    width: 100%;
    outline: none;
    border: 1px solid #EEEEEE;
    height: 45px;
    border-radius: 5px;
    padding-left: 10px;
   &:focus{
    border: 1px solid blue !important;
   }
}

.noti-filter{
    outline: none;
    border: 1px solid #EEEEEE;
    height: 35px;
}



.send-btn{
    &:hover{
        background-color: rgb(56, 56, 214) !important;
    }
}


.emoji-container{
    position: absolute;
    z-index: 9999;
    top: 100px;
    .Flex.epr-preview.FlexRow{
        display: none;
    }
    .epr-search{
        padding-left: 30px;
    }
}