
.notifi-wrap{
    display: flex;
    align-items: center;
    img{
        width: 45px;
        height: 45px;
        border-radius: 50%;
    }
    .info-user{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 10px;
        span{
            &:first-child{
                font-weight: 600;
            }
            &:last-child{
                font-size: 13px;
            }
        }
    }
}
.new{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
}

.new.checked{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(38, 190, 38);
}

input[type='checkbox'] {
    accent-color: green;
}