.icon-wrapper{
    width: max-content;
    height: max-content;
    padding: 0 5px;
    cursor: pointer;
    border: 1px solid rgba(128, 128, 128, 0.486);
    border-radius: 5px;
    &:hover{
        background-color: rgba(128, 128, 128, 0.226);
    }
}

.info-denounce{
    background-color: #FFFFFF;
    min-height: 500px;
    margin-top: 20px;
    margin-left: 10px;
}

.denounce-img{
    border-radius: 50% !important;
}